# COLLECTION OF DATA TYPES
- List
- Tuple
- Set
- Dictionary

### LIST
- one of the data structures in python
- data structures are means to store,sort, and search options
- it is a common data structures in python;items of the list are saperated by comma and enclosed by square brackets

#### example:
 list1=[1,2,3,4]
 list2=["gitam",12]

In [9]:
li= [1,3,5,8,9]
print(li)
print(li[2])
print(li[-4])
print(li[2:])
print(li[2:4])
print(li[-3:-1])
print(li[-3:-2])

[1, 3, 5, 8, 9]
5
3
[5, 8, 9]
[5, 8]
[5, 8]
[5]

In [10]:
li= ["gitam",1234,1235,1236,"hyd"]
print(li[0][2])

t

In [11]:
del li[3]
print(li)

['gitam', 1234, 1235, 'hyd']

In [12]:
# update
li[1]=143
print(li)

['gitam', 143, 1235, 'hyd']

In [20]:
# basic list of functions
li = [23,45,69,87,10]
print(max(li))
print(min(li))
print(len(li))
print(sum(li))
print(sum(li)//len(li))

87
10
5
234
46

In [31]:
li = [23,45,69,87,10]
li.append(69)
print(li)

[23, 45, 69, 87, 10, 69]

In [33]:
li = [23,45,69,87,10]
li.count(69)

1

In [34]:
li = [23,45,69,87,10]
li.index(69)

2

In [36]:
li = [23,45,69,87,10]
li.sort()
print(li)

[10, 23, 45, 69, 87]

In [39]:
li = [23,45,69,87,10]
li.pop(2)
print(li)

[23, 45, 87, 10]

In [41]:
li = [23,45,69,87,10]
li1 = [76,77,78]
li.extend(li1)
print(li)

[23, 45, 69, 87, 10, 76, 77, 78]

In [42]:
li = [23,45,69,87,10]
li1 = [76,77,78]
li.extend(li1)
li.reverse()
print(li)

[78, 77, 76, 10, 87, 69, 45, 23]

In [45]:
# function to  return the large number from given list
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[19,1,25,45,76]
print(largenumber(li))
print(genericlarge(li,3))

76
25

In [47]:
# function to return smallest number
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n]
li=[19,1,25,45,76]
print(smallnumber(li))
print(genericsmall(li,3))

1
45

## Tuple
- it is one common data structure in python,the items of tuple are saperated by comma and enclosed by paranthesis()

example:
t1=(1,2,3,4)

## list and tuple
-  list are mutable - can be changed
- list are used to modify,add,delete,update
- tuple are immutable - cannot be changed
- tuple used to access data only

In [48]:
t1=(1,2,3,4)
t1

(1, 2, 3, 4)

### Dictionaries
- It works on concept of set unique data
- Dictionary contains keys and values
- each key value separated by comma
- Each key is saperated from its values with colon(:)

In [53]:
di=  {"name" : "gitam","email" :"gitam@in","address": "hyderabad"}
di

{'name': 'gitam', 'email': 'gitam@in', 'address': 'hyderabad'}

In [54]:
di["name"]

'gitam'

In [55]:
# update
di=  {"name" : "gitam","email" :"gitam@in","address": "hyderabad"}
di["name"]= "ajay"
di

{'name': 'ajay', 'email': 'gitam@in', 'address': 'hyderabad'}

In [56]:
# add a key value
di["roll_no"]="22171031009"
di

{'name': 'ajay',
 'email': 'gitam@in',
 'address': 'hyderabad',
 'roll_no': '22171031009'}

In [57]:
di.keys()

dict_keys(['name', 'email', 'address', 'roll_no'])

In [58]:
di.values()

dict_values(['ajay', 'gitam@in', 'hyderabad', '22171031009'])

In [59]:
del d1['email']
di

{'name': 'ajay',
 'email': 'gitam@in',
 'address': 'hyderabad',
 'roll_no': '22171031009'}

## strings

In [60]:
s1="hello"
print(s1)

hello

In [61]:
s1="hello"
print(s1[0])

h

In [62]:
s1="python"
print(s1[0])
print(len(s1)-2)

p
4

In [63]:
s1="python"
print(s1[0])
print(s1[len(s1)-2])

p
o

In [64]:
s1="python"
print(s1[0])
print(len(s1)-2)
print(s1[1:-1])

p
4
ytho

In [70]:
s1="python"
print(s1[0])
print(len(s1)-2)
print(s1[len(s1)//2])
print(s1[::3])
print(s1[::-1])

p
4
h
ph
nohtyp

# String built-in methods 
- upper
- lower
- islower
- isupper
- istitke
- isnumeric
- issalpha
- isspace

s1='Phthon'
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())

In [77]:
s1 = ' '
print(s1.isspace())

True

# string methods

In [81]:
s1="python"
print("/".join(s1))

p/y/t/h/o/n

In [82]:
s1 = " josh is rich"
print(s1.split())

['josh', 'is', 'rich']

In [84]:
s1 = " josh is a rich"
print(s1.replace("rich","musician"))

 josh is a musician